@inherits LayoutComponentBase

<style>
    .Maintheme {
        background-color: purple;
        color: orange;
        padding: 10px;
    }

    .left {
        position: absolute;
        height: inherit;
        width: auto;
        padding-left: 10px;
    }
</style>

<div class="sidebar ">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth navbar-dark">
        <img class="left" src="./images/ui/CadeChapelLogo.jpg">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
    
    <div class="content px-4">
        @Body
    </div>
</div>
